---
layout: default
title: Contact Me
permalink: /contact/
---
<div class="flex-container">
	{% include header.html %}
	<div class="content wrapper">
		<section class="about-header">
			<div class="author-image-container">
				<img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
			</div>        
		</section>
		<section class="about-body">
			<p> <h2 style="text-align: center"> Contact Me </h2> </p>
		
			<ul class="contact-list">
				
					{% if site.email %}
					<li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a><a href="mailto:{{site.email}}">{{site.email}}</a></li>
					{% else %}
					{% endif %}
					
				{% if site.phone %}
				<li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
				{% else %}
				{% endif %}

				{% if site.website %}
				<li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
				{% else %}
				{% endif %}
				<p>
					{% if site.linkedin %}
					<li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank">LinkedIn</a></li>
					{% else %}
					{% endif %}
				</p>
				<p>
					{% if site.github %}
					<li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a><a href="http://github.com/{{site.github}}" target="_blank">Github</a></li>
					{% else %}
					{% endif %}
				</p>
				<p>
					{% if site.twitter %}
					<li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a><a href="https://twitter.com/{{site.twitter}}" target="_blank">Twitter</a></li>
					{% else %}
					{% endif %}
				</p>
				
				<p>
		  		  <li class="orcid"><a href="https://orcid.org/0000-0001-7029-2908" target="_blank"><i class="ai ai-orcid"></i></a><a href="https://orcid.org/0000-0001-7029-2908" target="_blank">ORCID</a></li>
		  		</p>
				
				<p>
		  		  <li class="google-scholar"><a href="https://scholar.google.co.uk/citations?user=PkcYP74AAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar"></i></a><a href="https://scholar.google.co.uk/citations?user=PkcYP74AAAAJ&hl=en" target="_blank">Google Scholar</a></li>
		  		</p>
				
				<p>
		  		  <li class="pubmed"><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Steinmetz%20NA%5BAuthor%5D" target="_blank"><i class="ai ai-pubmed"></i></a><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Steinmetz%20NA%5BAuthor%5D" target="_blank">Pubmed</a></li>
				</p>
				
				{% if site.facebook %}
				<li class="facebook"><a href="https://facebook.com/{{site.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a></li>
				{% else %}
				{% endif %}

				{% if site.instagram %}
				<li class="instagram"><a href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a></li>
				{% else %}
				{% endif %}

				{% if site.pinterest %}
				<li class="pinterest"><a href="https://pinterest.com/{{site.pinterest}}" target="_blank"><i class="fa fa-pinterest"></i></a></li>
				{% else %}
				{% endif %}
			</ul>
		</section> <!-- End About Body-->
		
		{% include pagination.html %}
	</div> <!-- End Wrapper -->
	{% include footer.html %}
</div>
