---
layout: defaultPage
title: Publications
permalink: /publications/
---
<article class="article-page">	
	<div class="page-image">
		<div class="cover-image" style="background: url({{"/assets/img/npixRasterShort.png" | prepend: site.baseurl}}) center no-repeat; background-size: cover;"></div>
	</div>
	<div class="wrapper">
		<div class="page-content">
			<div class="header-page">
				<h1 class="page-title">Publications</h1>
			</div>
			
			{% assign pubs = site.data.pubs %}
		  
		  	<h2> Preprints </h2>
			<ul>
		  	{% for paper in pubs.papers %}
				{% if paper.tags contains "preprint" %}
					{% include paper.html %}
				{% endif %}
			{% endfor %}
			</ul>
			
		  	<h2> Peer-Reviewed Publications </h2>
			<ul>
		  	{% for paper in pubs.papers %}
				{% if paper.tags contains "peerReview" %}
					{% include paper.html %}
				{% endif %}
			{% endfor %}
			</ul>
			
		  	<h2> Reviews and Commentary </h2>
			<ul>
		  	{% for paper in pubs.papers %}
				{% if paper.tags contains "review" %}
					{% include paper.html %}
				{% endif %}
			{% endfor %}
			</ul>
			
			<div class="page-footer">
			</div>
		</div>
	</div><!-- End Wrapper -->

</article>