<header class="main-header">
  <div class="wrapper">
    <div class="header-flex">
      <div class="menu-icon-container">
        <span class="menu-icon"></span>
      </div>
      <nav class="main-nav">
        <span class="menu-icon-close"></span>
        <ul>
        </ul>
      </nav>
      <p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
      <div class="search-icon-container">
        <span class="search-icon"><a></a></span>
      </div>
    </div>
  </div>
</header> <!-- End Header -->
