<header class="main-header">
	<div class="wrapper">
		<div class="header-flex">
			<div class="menu-icon-container">
				<span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
			</div>
			<nav class="main-nav">
				<span class="menu-icon-close"><i class="fa fa-times" aria-hidden="true"></i></span>
				<ul>
					<li><a href="{{site.baseurl}}/">Home</a></li>
					<li><a href="{{site.baseurl}}/research_overview">Research Topics</a></li>	
					<ul>		
						<li><a href="{{site.baseurl}}/brainwide_circuits">Brain-wide Circuits for Behavior</a></li>
						<li><a href="{{site.baseurl}}/dynamics">Cortical Dynamics</a></li>
						<li><a href="{{site.baseurl}}/attention">Visual Attention</a></li>
					</ul>
					<li><a href="{{site.baseurl}}/methods">Research Methods</a></li>
					<ul>
						<li><a href="{{site.baseurl}}/behavior">Rodent Behavior</a></li>
						<li><a href="{{site.baseurl}}/neuropixels">Neuropixels</a></li>
						<li><a href="{{site.baseurl}}/widefield">Widefield Calcium Imaging</a></li>
						<li><a href="{{site.baseurl}}/optogenetics">Systematic Optogenetics</a></li>
					</ul>						
					<li><a href="{{site.baseurl}}/code_data">Shared Code and Data</a></li>
					<li><a href="{{site.baseurl}}/publications">Publications</a></li>
					<li><a href="{{site.baseurl}}/cv">CV</a></li>
					<li><a href="{{site.baseurl}}/contact">Contact</a></li>
				</ul>
			</nav>
			<p class="logo"><a href="{{site.baseurl}}/">{{ site.author }}</a></p>
			<div class="search-icon-container">
				<span class="search-icon"><a></a></span>
			</div>
		</div>
	</div>
</header> <!-- End Header -->
