---
layout: default
---
<div class="flex-container">
  {% include header.html %}
  <div class="content wrapper">
      <section class="about-header">
        <div class="author-image-container">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
        </div>        
      </section>
      <section class="about-body">
		<p> I am an Assistant Professor in the Department of Biological Structure at the University of Washington in Seattle, Program Coordinator for a Collaborative Grant from the Wellcome Trust to develop Neuropixels 2.0, and a member of the <a href="http://www.internationalbrainlab.org">International Brain Lab</a>. </p>
			
		<p><a href="http://www.steinmetzlab.net">My lab</a> focuses on understanding the neural circuits and systems that underlie perception and cognition across the brain. We approach these problems with a combination of large-scale electrophysiology with Neuropixels probes, calcium imaging across neocortical areas, and systematic optogenetic manipulations, all in combination with sophisticated behavioral tasks for mice.</p>
		
		<p> &bull <a href="{{site.baseurl}}/cv">CV</a> :: <a href="{{site.baseurl}}/publications">Publications</a> :: <a href="{{site.baseurl}}/code_data">Shared code and datasets</a> ::</p>
		
        <ul class="contact-list">
        {% if site.email %}
          <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
        {% endif %}

        {% if site.phone %}
          <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
        {% else %}
        {% endif %}

        {% if site.website %}
          <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i></a></li>
        {% else %}
        {% endif %}

        {% if site.linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}
        {% endif %}

        {% if site.github %}
          <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
        {% endif %}

        {% if site.twitter %}
          <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
        {% else %}
        {% endif %}
		
		  <li class="orcid"><a href="https://orcid.org/0000-0001-7029-2908" target="_blank"><i class="ai ai-orcid"></i></a></li>
		  
		  <li class="google-scholar"><a href="https://scholar.google.co.uk/citations?user=PkcYP74AAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar"></i></a></li>
		  
		  <li class="pubmed"><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Steinmetz%20NA%5BAuthor%5D" target="_blank"><i class="ai ai-pubmed"></i></a></li>		  
		  
        </ul>
      </section> <!-- End About Body-->
    {{ content }}
  {% include pagination.html %}
  </div> <!-- End Wrapper -->
  {% include footer.html %}
</div>
