---
layout: defaultPage
---
<article class="article-page">
	<div class="page-image">
		<div class="cover-image" style="background: url({{"/assets/img/npixBig.png" | prepend: site.baseurl}}) center no-repeat; background-size: cover;"></div>
	</div>
	<div class="wrapper">
		<div class="page-content">
			<div class="header-page">
				<h1 class="page-title">Research overview</h1>
			</div>
			<p>A tremendous diversity of neurons underlie all human behaviors, from simple behaviors, like moving our eyes to look at something, to more complex ones, like weighing up our options before deciding on a career path to follow. Groups of neurons across the brain - from thalamus to frontal cortex, from basal ganglia to midbrain - all become active and participate in these behaviors. However, the complexity of the connections within and between brain regions, coupled with the complexity of the electrical properties of individual neurons themselves, have frustrated efforts to understand the relative roles of different brain regions in behavior and have limited our ability to understand why neurons have the dynamics and activity patterns that we observe. This inability to understand basic properties of brain function has practical implications for our ability to understand mental disorders, and solving these problems comprises the greatest scientific challenge we face today. 

			<p>My research focuses on understanding the neural circuits and systems that underlie perception and cognition across the brain. Of the many diverse, highly-interconnected neuronal populations across the brain, which ones are involved in perceiving sensory events, forming decisions, and executing plans of action? What are the dynamics of these populations, both within and between areas? How do different areas coordinate to underlie behaviors, from simple perceptual decision-making to more advanced cognitive behaviors such as visual attention?

			<p>In the lab of Profs. Matteo Carandini and Kenneth Harris at University College London, I approach these questions through a combination of large-scale electrophysiology, calcium imaging across neocortical areas, and systematic optogenetic manipulations, all in combination with a sophisticated behavioral task for mice. 

			<p>Previously, as a Ph.D. student working with Profs. Tirin Moore and Kwabena Boahen, I studied these topics by recording the activity of individual neurons from visual and frontal cortex in the context of selective visual attention in the non-human primate.
			<div class="page-footer">
			</div>
		</div>
	</div> <!-- End Wrapper -->
</article>
